body{
  
    
    text-align: center;
     display: inline-flex;
     flex-direction: column;
     font-family: kanit;
     align-items: center;
     height: 100vh;
    width: 100%;
 
 
    
 }
 
 .input-field {
    font-size: 3rem; /* Adjust the size as needed */
  }
 
 h1{
     color: #252A41;
     font-size: 6rem;
   
    
   
 }
 
 .tudo{
     display: inline-flex;
     flex-direction: column;
     width: 1000px;
 }
 
 .Cabecalho{
 
     font-size: 3.5rem;
     display: inline-flex;
     flex-direction: column;
     background-color:whitesmoke;
     border: 5px;
     color: #252A41;
     border-radius: 10px;
    
     align-content: center;
     
     padding: 20px;
  
   }
 
h2{font-size: 2rem;}
p{font-size: 2rem;}
 


 .Corpo{
     font-size: 3.5rem;
     color: #252A41;
     display: inline-flex;
     flex-direction: column;
     background-color: whitesmoke;
     padding: 35px;
     border-radius: 10px;
 
 }
 
 
 
 #sellerInput{
     background-color:#E4DFDA;
     padding: 25px;
     border: 0;
     margin: 20px;
     border-radius: 10px;

 }
    
 #dateInput{
     background-color: #E4DFDA;
     
     padding: 25px;
     border: 0;
     border-radius: 10px;   
     margin: 20px; 
 }
 #buyerInput{
     background-color: #E4DFDA;
     
     padding: 25px;
     border: 0;
     border-radius: 10px;
     margin: 20px;
    
 }
 
 #Lista{
     background-color: #F3EEEA;
     
     border-radius: 10px;
     color: black;
 }




 .custom-file-input {
    /* Adjust width and height */
    width: 400px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    /* Add other styles as desired */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    /* Add more styling to suit your design */
    background-color: #D4B483;
    margin-bottom: 50px;
 margin-top: 10px;
  }
  


 
 #barcodeInput{
     padding: 25px;
     border: 0;
     background-color: #E4DFDA;
     border-radius: 10px;
     margin: 20px;
      
 }
 
 #qtyInput{
     padding: 25px;
     border: 0;
     background-color: #E4DFDA;
     border-radius: 10px;
     margin: 20px;
     
 }
 
 .produtos{
 background-color:#052F5F;
 color: #D4B483;
 font-size: 3rem;
 border-radius: 10px;
 margin-top: 50px;
     }
 
 .addprod button{
     background-color: #E4DFDA;
     font-size: 2.5rem;
     margin: 20px;
     width: 390px;
     height: 190px;
     border-radius: 5px;
     margin-top: 50px;
 }
 .download button{
      background-color: #E4DFDA;
      font-size: 2.5rem;
     margin: 20px;
     width: 390px;
     height: 190px;

     border-radius: 5px;
 }
 .reset button{
      background-color: #E4DFDA;
      font-size: 2.5rem;
     margin: 20px;
     width: 390px;
     height: 190px;
 
    
     
        border-radius: 5px;
       

 }

 .reset button:active{
    background-color: #dad2cb;
 }
 .download button:active{
    background-color: #dad2cb;
 }
 .addprod button:active{
    background-color: #dad2cb;
 }
