body{
  
    
    text-align: center;
     display: inline-flex;
     flex-direction: column;
     font-family: kanit;
     align-items: center;
     height: 100vh;
    width: 100%;
 
 
    
 }
 
 .input-field {
    font-size: 2rem; /* Adjust the size as needed */
  }
 
 h1{
     color: #252A41;
     font-size: 5rem;
   
    
   
 }
 
 .tudo{
     display: inline-flex;
     flex-direction: column;
     width: 750px;
 }
 
 .Cabecalho{
 
     font-size: 3rem;
     display: inline-flex;
     flex-direction: column;
     background-color:whitesmoke;
     border: 5px;
     color: #252A41;
     border-radius: 10px;
    
     align-content: center;
     
     padding: 20px;
  
   }
 


 


 .Corpo{
     font-size: 3rem;
     color: #252A41;
     display: inline-flex;
     flex-direction: column;
     background-color: whitesmoke;
     padding: 20px;
     border-radius: 10px;
 
 }
 
 
 
 #sellerInput{
     background-color:#E4DFDA;
     padding: 20px;
     border: 0;
     border-radius: 10px;
 }
    
 #dateInput{
     background-color: #E4DFDA;
     
     padding: 20px;
     border: 0;
     border-radius: 10px;    
 }
 #buyerInput{
     background-color: #E4DFDA;
     
     padding: 20px;
     border: 0;
     border-radius: 10px;
    
 }
 
 #Lista{
     background-color: #F3EEEA;
     
     border-radius: 10px;
     color: black;
 }


 #excelFileInput{
    align-items: center;
    text-align: center;


 }

 .custom-file-input {
    /* Adjust width and height */
    width: 400px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    /* Add other styles as desired */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    /* Add more styling to suit your design */
  }
  


 
 #barcodeInput{
     padding: 20px;
     border: 0;
     background-color: #E4DFDA;
     border-radius: 10px;
      
 }
 
 #qtyInput{
     padding: 20px;
     border: 0;
     background-color: #E4DFDA;
     border-radius: 10px;
     
 }
 
 .produtos{
 background-color:#052F5F;
 color: #DCCAAF;
 font-size: 2rem;
 border-radius: 10px;
     }
 
 .addprod button{
     background-color: #E4DFDA;
     font-size: 2rem;
     margin: 20px;
     width: 300px;
     height: 150px;
     border-radius: 5px;
 }
 .download button{
      background-color: #E4DFDA;
      font-size: 2rem;
     margin: 20px;
     width: 300px;
     height: 150px;

     border-radius: 5px;
 }
 .reset button{
      background-color: #E4DFDA;
      font-size: 2rem;
     margin: 20px;
     width: 300px;
     height: 150px;
 
    
     
        border-radius: 5px;
       

 }

 .reset button:active{
    background-color: #dad2cb;
 }
 .download button:active{
    background-color: #dad2cb;
 }
 .addprod button:active{
    background-color: #dad2cb;
 }
