body{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.Cabecalho{
    display: inline-flex;
    flex-direction: column;
    background-color: bisque;
    color: rgb(50, 116, 116);
    border: 10px;
    align-content: center;
    padding: 20px;
    border-radius: 2%;
  }

.Corpo{
    display: inline-flex;
    flex-direction: column;
    background-color: bisque;
}

#sellerInput{
    background-color:whitesmoke;
    padding-bottom: 10px;
}
   
#dateInput{
    background-color: whitesmoke;
    padding-bottom: 10px;
}
#buyerInput{
    background-color: whitesmoke;
    padding-bottom: 10px;
}


}
#Lista{
    background-color: aquamarine;
}
#barcodeInput{
    padding-bottom: 10px;

}

#qtyInput{
    padding-bottom: 10px;
}

.addprod button{
    margin: 10px;
    width: 150px;
    height: 75px;



}
.download button{
    margin: 10px;
    width: 150px;
    height: 75px;
}
.reset button{
    margin: 10px;
    width: 150px;
    height: 75px;
}
